/**  左侧导航调整 */
.depth-0 > .sidebar-heading {
 	font-size: 0.95em !important;
    font-weight: 600 !important;
 }
.depth-1 > .sidebar-heading {
	font-size: 0.95em !important;
	padding-left: 2.2rem !important;
}
.sidebar-link {
	font-size: 0.95em !important;
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
    opacity: 1 !important; 
}

/**  文章内导航调整 */
.sub-sidebar-wrapper {
    width: 14rem !important;
}
.sub-sidebar-wrapper a.sidebar-link {
	line-height: 1.3 !important;
	padding-top: 0.3rem !important;
	padding-bottom: 0.3rem !important;
}
